@import './reset';
@import './colors';

#root {
    // width: 100vw;
    // height: 100vh;
    background-color: var(--white);
    padding: 5%;
}

.dashboard {
    width: 100%;
    height: 100%;
    .cars {
        width: 100%;
        border-radius: 20px;
        background-color: var(--light-gray);
    }
    .header{
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid var(--black);
    }
}
